html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;  
    background-color: hsl(275, 100%, 97%) !important;
    flex-direction: column;
  }

  
  h1 {
    font-weight: 700 !important;
    margin-top: 20px;
  }
  
  .accordion-header {
    background-color: white !important;
  }
  
  .banner {
    width: 100%;
    height: auto;
    position: relative;
  }

  .card {
    max-width: 500px; 
    width: 90%;
    margin: 0 auto;  
    padding: 20px;  
    background-color: white;
    border-radius: 10px;
    top: -80px;    
    z-index: 10; 
    min-height: 60vh;
  }

  footer {
    margin: 0;
  }
  