html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;  
    background-color: hsl(275, 100%, 97%) !important;
    font-size: 16px;

  }

  .container {
    position: relative;
    width: 1000%;
    z-index: 1;
  }
  
  h1 {
    font-weight: 700 !important;
  }
  
  .accordion-header {
    background-color: white !important;
  }
  
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  
  .banner {
    width: 100%;
    height: auto;
    display: block;  
    z-index: 0;
  }

  .card {
    width: 70%; 
    max-width: 900px;  
    margin: 0 auto;  
    padding: 20px;  
    background-color: white;
    border-radius: 10px;
    position: absolute;
  }
  