body {
    background-color: hsl(275, 100%, 97%) !important;
}

.container {
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20%;
    border-radius: 20%;
    border: 10px;
    border-color: black;
}

.accordion-header {
    background-color: white !important;
}